[Unit]
Description=Run before the systemd random seed service and make it work without writing anything to disk.
Before=apache.service
Before=apache2.service
Before=apache-httpd.service
Before=httpd.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=sh /bin/apache-shim

[Install]
WantedBy=apache.service
WantedBy=apache2.service
WantedBy=httpd.service
WantedBy=apache-httpd.service
